.modalWindow {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: #141E30;
    z-index: 2;
}

.modalWindowContent {
    padding: 25px;
    background-color: #ffffff;
    border-radius: 16px;
    width: 80%;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.modalWindow.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit_box {
    width: 100%;
    display: flex;
    justify-content: right;
}

.exit_item {
    font-size: 32px;
    color: #bdbdbd;
    cursor: pointer;
}

.exit_item:hover {
    color: #141E30;
}

.dish_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dish_name {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 44px;
    font-weight: bold;
    color: #e53935;
    letter-spacing: 0.475px;
}

.recipe {
    width: 45%;
    color: #141E30;
    margin-top: 10px;
    height: 700px;
    letter-spacing: 0.475px;
    font-size: 24px;
    overflow-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
}

.recipe_large {
    width: 100%;
    color: #141E30;
    margin-top: 10px;
    height: 700px;
    letter-spacing: 0.475px;
    font-size: 24px;
    overflow-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
}


.videos_container {
    width: 45%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    align-items: center;
    height: 700px;
}

.video_box {
    width: 80%;
    height: 250px;
    margin: 50px;
}

.recipe::-webkit-scrollbar, .recipe_large::-webkit-scrollbar {
    display: none;
}

.videos_container::-webkit-scrollbar {
    display: none;
}

