.modalWindow {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: #141E30;
    z-index: 2;
}

.modalWindowContent {
    padding: 25px;
    background-color: #ffffff;
    border-radius: 16px;
    width: 60%;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

.modalWindow.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit_box {
    width: 100%;
    display: flex;
    justify-content: right;
}

.exit_item {
    font-size: 32px;
    color: #bdbdbd;
    cursor: pointer;
}

.exit_item:hover {
    color: #141E30;
}

.post_text {
    margin-top: 10px;
    color: #141E30;
    height: 800px;
    letter-spacing: 0.475px;
    font-size: 24px;
    overflow-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
}

.post_text::-webkit-scrollbar {
    display: none;
}

.post_title {
    font-size: 32px;
    color: snow;
    margin-top: 10px;
}
