.carousel_control_left, .carousel_control_right {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 70px;
    top: calc(50% - 25px);
    color: snow;
    cursor: pointer;
    font-size: 24px;
}

.carousel_control_left {
    left: 0;
}

.carousel_control_right {
    right: 0;
}

