.server_error {
    margin-bottom: 20px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e53935;
}

.errors_span {
    max-width: 500px;
    margin: 5px;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #e53935;
}

.input_box_name {
    font-size: 32px;
    color: snow;
}

.input_box {
    display: block;
}

.title_input {
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
    max-width: 500px;
    width: 500px;
}

.text_input {
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
    max-width: 500px;
    width: 500px;
}

.text_input::-webkit-scrollbar {
    display: none;
}

.form_submit_box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.confirm_input {
    font-size: 24px;
    padding: 10px;
    width: 500px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #bdbdbd;
    color: snow;
}

.confirm_input:hover {
    color: #e53935;
}

.file_input_box {
    display: flex;
    justify-content: center;

}

.file_input {
    padding: 10px;
    display: none;
}

.file_label {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 40px 10px 40px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    background-color: snow;
    font-size: 24px;
    font-weight: bold;
}
