.blog_container {
    width: 100%;
    display: flex;

}

.menu_block {
    width: 15%;
    min-height: 100vh;
    background-color: #191624;
}

.content_block {
    width: 85%;
    min-height: 100vh;
    /*background-color: #121286;*/
    display: flex;
}

.content {
    width: 80%;
}

.top_play {
    width: 20%;
}

.search_bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.outlet {
    width: 90%;
    padding: 5%;
}
