.server_error {
    margin-bottom: 20px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e53935;
}

.posts_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    width: 50%;
}

.empty_posts_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: snow;
    font-size: 54px;
    font-weight: bold;
}

.post {
    width: 100%;
}
