.discover_container {
    width: 100%;
}

.discover_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.genres_selector {
    padding: 0.5vh;
}

.genre {
    cursor: pointer;
}

.songs_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
