.modalWindow {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modalWindowContent {
    padding: 25px;
    background-color: #ffffff;
    border-radius: 16px;
    width: 40%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    align-items: center;
}

.modalWindow.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit_box {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 5%;
    cursor: pointer;
}

.exit_box > span {
    font-size: 26px;
}

.exit_box > span:hover {
    color: #FFD600;
}
.event_button_confirm {
    padding: 5px;
    height: 100px;
    width: 500px;
    border: none;
    font-size: 24px;
    border-radius: 4px;
    transition: ease-out 0.6s;
    outline: none;
    background-color: #497BE8;
    box-shadow: inset 0 0 0 0 #f9e506;
    color: #ffffff;
}

.event_button_confirm:hover {
    box-shadow: inset 330px 0 0 0 #f9e506;
    cursor: pointer;
    color: #497BE8;
}

.event_button_cancel{
    padding: 5px;
    height: 100px;
    width: 500px;
    border: none;
    font-size: 24px;
    border-radius: 4px;
    transition: ease-out 0.6s;
    outline: none;
    background-color: #e53935;
    box-shadow: inset 0 0 0 0 #f9e506;
    color: #ffffff;
}
.event_button_cancel:hover{
    box-shadow: inset 330px 0 0 0 #f9e506;
    cursor: pointer;
    color: #e53935;
}
