.video_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video_element {
    width: 45%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
