.container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.server_error {
    margin-bottom: 20px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e53935;
}

.post_details_container {
    width: 50%;
    /*min-height: 70vh;*/
}

.comments_container {
    width: 30%;
    padding: 10px;
    /*min-height: 80vh;*/
}

.video_container {
    margin: 40px 0 40px 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video_element {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.delete_video_button {
    width: 50%;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    background-color: #141E30;
    color: snow;
    border: 1px solid snow;
}

.delete_video_button_dark {
    width: 50%;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    color: #64dd17;
    background-color: #141E30;
    border: 1px solid #64dd17;
}

.comment_form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.comments_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
}

.comments_block_container {
    min-height: 500px;
}

.comments_block::-webkit-scrollbar {
    display: none;
}

.comments_loading {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    min-height: 450px;
    justify-content: center;
}

.errors_span {
    max-width: 100%;
    font-size: 24px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    color: #e53935;
    background-color: #bdbdbd;
}

.registration_input {
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
}

.confirm_input {
    width: 25%;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    background-color: #141E30;
    color: snow;
    border: 1px solid snow;
}

.confirm_input_dark {
    width: 25%;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    color: #64dd17;
    background-color: #141E30;
    border: 1px solid #64dd17;
}

.confirm_input_disabled {
    width: 25%;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    cursor: not-allowed;
    pointer-events: none;
    border: 1px solid snow;
    color: #141E30;
    background-color: snow;
}

.confirm_input_disabled_dark {
    width: 25%;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    cursor: not-allowed;
    pointer-events: none;
    border: 1px solid #64dd17;
    color: #141E30;
    background-color: snow;
}

.confirm_input:hover, .delete_video_button:hover {
    border: 1px solid snow;
    color: #141E30;
    background-color: snow;
}

.confirm_input_dark:hover, .delete_video_button_dark:hover {
    border: 1px solid #64dd17;
    color: #141E30;
    background-color: snow;
}

.single_comment {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    min-height: 50px;
}

.single_comment > span {
    display: flex;
    align-items: center;
    padding: 10px;
    min-width: 50px;
}

.comment_author {
    width: 49px;
    height: 49px;
    border-radius: 50px;
    font-size: 26px;
    color: snow;
    background-color: #e53935;
    border: 1px solid snow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment_author_dark {
    width: 49px;
    height: 49px;
    border-radius: 50px;
    font-size: 26px;
    color: #64dd17;
    background-color: #141E30;
    border: 1px solid #64dd17;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment_text {
    width: calc(100% - 110px);
    color: snow;
    font-size: 24px;
    display: flex;
    word-break: break-all;
    border: 1px solid snow;
    border-radius: 10px;
    margin: 0 10px 0 10px;
}

.comment_text_dark {
    width: calc(100% - 110px);
    color: #64dd17;
    font-size: 24px;
    display: flex;
    word-break: break-all;
    border: 1px solid #64dd17;
    border-radius: 10px;
    margin: 0 10px 0 10px;
}

.delete_comment_button {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.delete_comment_button:hover {
    color: #e53935;
}

.video_form_container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
