.products_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.add_product_button_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
